In [52]:
import pandas as pd

In [53]:
dados = pd.read_csv('supermarket_sales - Sheet1.csv')
dados

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [54]:
dados = dados.drop(columns= ['Invoice ID', 'Branch', 'cogs'])

In [55]:
dados.head()

,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,gross margin percentage,gross income,Rating
0,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1
1,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6
2,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4
3,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4
4,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3

In [56]:
dados.columns

Index(['City', 'Customer type', 'Gender', 'Product line', 'Unit price',
       'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment',
       'gross margin percentage', 'gross income', 'Rating'],
      dtype='object')

In [57]:
renomear = {'City': 'cidade', 'Customer type': 'tipo_cliente', 'Gender': 'genero', 'Product line': 'tipo_produto', 
            'Unit price': 'preco', 'Quantity': 'quantidade', 'Tax 5%': 'taxa_5%', 'Total': 'total', 'Date': 'dia', 
            'Time': 'hora', 'Payment': 'forma_pagamento',
       'gross margin percentage': 'margem_lucro', 'gross income': 'renda_bruta', 'Rating': 'avaliacao'}

In [58]:
dados = dados.rename(columns = renomear)
dados.head()

,cidade,tipo_cliente,genero,tipo_produto,preco,quantidade,taxa_5%,total,dia,hora,forma_pagamento,margem_lucro,renda_bruta,avaliacao
0,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,4.761905,26.1415,9.1
1,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,4.761905,3.8200,9.6
2,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,4.761905,16.2155,7.4
3,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,4.761905,23.2880,8.4
4,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,4.761905,30.2085,5.3

In [59]:
dados.genero.unique()

array(['Female', 'Male'], dtype=object)

In [60]:
genero = {'Female': 'Feminino', 'Male': 'Masculino'}

In [61]:
dados.genero = dados.genero.map(genero)

In [62]:
dados.forma_pagamento.unique()

array(['Ewallet', 'Cash', 'Credit card'], dtype=object)

In [63]:
forma_pagamento = {'Ewallet': 'Carteira Digital', 'Cash': 'Dinheiro', 'Credit card': 'CartÃ£o de CrÃ©dito'}

In [64]:
dados.forma_pagamento = dados.forma_pagamento.map(forma_pagamento)

In [66]:
dados.tipo_produto.unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [68]:
tipo_produto = {'Health and beauty': 'SaÃºde e Beleza', 'Electronic accessories': 'EletrÃ´nicos',
       'Home and lifestyle': 'Casa', 'Sports and travel': 'Esportes', 'Food and beverages': 'Alimentos',
       'Fashion accessories': 'VestuÃ¡rio'}

In [69]:
dados.tipo_produto = dados.tipo_produto.map(tipo_produto)

In [71]:
dados.to_csv('vendas_supermercado.csv', index = False)