In [8]:
import pandas as pd

In [34]:
dados = pd.read_csv('dados/preco_comodites_principais.csv')
dados.head()

,data,todas_comodites,alimentos_e_bebidas,acucar,trigo,oleo_girassol,materiais_agricolas
0,1980-01-01,NaN,NaN,17.299999,175.634750,566.926957,78.900146
1,1980-02-01,NaN,NaN,22.750000,172.695236,573.958609,75.715154
2,1980-03-01,NaN,NaN,19.630001,163.509323,535.284522,69.002475
3,1980-04-01,NaN,NaN,21.250000,156.528030,486.062957,67.877108
4,1980-05-01,NaN,NaN,30.939999,161.304703,502.763130,65.879671

In [35]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   data                 434 non-null    object
 1   todas_comodites      290 non-null    float64
 2   alimentos_e_bebidas  302 non-null    float64
 3   acucar               434 non-null    float64
 4   trigo                434 non-null    float64
 5   oleo_girassol        434 non-null    float64
 6   materiais_agricolas  434 non-null    float64
dtypes: float64(6), object(1)
memory usage: 23.9+ KB

In [38]:
dados.dropna(subset = ['todas_comodites', 'alimentos_e_bebidas'], inplace = True)

In [40]:
dados.to_csv('dados/preco_comodites_principais_semna.csv', index = False)