In [50]:
import pandas as pd

In [66]:
dados = pd.read_csv('dados/preco_comodites.csv')
dados.reset_index()

,index,Date,All Commodity Price Index,Non-Fuel Price Index,Food and Beverage Price Index,Food Price Index,Beverage Price Index,Industrial Inputs Price Index,Agricultural Raw Materials Index,Metals Price Index,...,Sugar Free Market,Sugar U.S. import price,Sunflower oil,Tea,Tin,Uranium,Wheat,Wool coarse,Wool fine,Zinc
0,0,1980-01-01,NaN,NaN,NaN,NaN,189.310021,81.889650,78.900146,84.049004,...,17.299999,19.660000,566.926957,225.179901,16973.587904,40.000000,175.634750,553.120940,684.277366,773.821533
1,1,1980-02-01,NaN,NaN,NaN,NaN,190.387928,83.048367,75.715154,88.345232,...,22.750000,24.689999,573.958609,233.094498,17090.213164,38.000000,172.695236,568.154805,722.567093,868.620361
2,2,1980-03-01,NaN,NaN,NaN,NaN,194.060355,75.228895,69.002475,79.726312,...,19.630001,21.180000,535.284522,226.833298,17460.590400,35.000000,163.509323,552.745109,695.956860,740.752441
3,3,1980-04-01,NaN,NaN,NaN,NaN,186.137888,72.471253,67.877108,75.789658,...,21.250000,22.669998,486.062957,221.806793,17041.712600,32.000000,156.528030,510.650280,688.130355,707.683105
4,4,1980-05-01,NaN,NaN,NaN,NaN,185.070241,69.588103,65.879671,72.266748,...,30.939999,31.889999,502.763130,229.611206,17180.604736,32.000000,161.304703,524.932443,720.760976,701.069092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,429,2015-10-01,103.466916,126.907455,137.852216,133.899141,174.342772,115.852355,112.924508,117.967173,...,14.141818,25.038182,1059.053125,391.840000,15794.613636,36.955163,165.388254,884.877380,956.059067,1724.340909
430,430,2015-11-01,97.467668,122.040427,134.654483,130.371612,174.189364,109.299203,109.512921,109.144832,...,14.888000,25.606000,1045.010913,353.773968,14745.285714,35.934567,157.741528,902.048320,1003.058056,1583.309524
431,431,2015-12-01,90.734792,121.669445,136.304358,132.386700,172.467981,106.886989,109.422638,105.055460,...,15.000000,25.830909,1022.144112,343.490783,14691.690476,35.099756,163.793245,909.910775,1028.319875,1527.785714
432,432,2016-01-01,83.150947,121.295627,136.615213,134.186870,159.031071,105.821596,108.755324,103.702530,...,14.291053,25.831579,1020.136508,319.825524,13808.075000,34.622671,164.557592,930.918233,1014.234233,1520.362500
433,433,2016-02-01,84.834812,123.006453,136.995434,134.915617,156.194083,108.876441,108.855717,108.891411,...,13.290500,25.498500,1039.578571,287.262730,15610.142857,33.619177,159.251644,957.274067,1017.063037,1709.845238

In [67]:
dados = dados[['Date', 'All Commodity Price Index', 'Food and Beverage Price Index', 
              'Sugar Free Market', 'Wheat', 'Sunflower oil', 'Agricultural Raw Materials Index'
              ]]

In [70]:
dados1 = pd.read_csv('dados/preco_comodites_principais.csv')

In [71]:
dados1.columns

Index(['Date', 'All Commodity Price Index', 'Food and Beverage Price Index',
       'Sugar Free Market', 'Wheat', 'Sunflower oil',
       'Agricultural Raw Materials Index'],
      dtype='object')

In [72]:
renomear = {'Date': 'data', 'All Commodity Price Index' : 'todas_comodites' , 
            'Food and Beverage Price Index' : 'alimentos_e_bebidas',
       'Sugar Free Market' : 'acucar', 'Wheat' : 'trigo', 'Sunflower oil' : 'oleo_girassol',
       'Agricultural Raw Materials Index' : 'materiais_agricolas'}

In [73]:
dados1 = dados1.rename(columns = renomear)

In [74]:
dados1.to_csv('dados/preco_comodites_principais.csv', index = False)